{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-md-7 col-lg-6 q-gutter-y-md">
    <q-card class="q-pa-lg">
      <div class="q-pa-md">
        <div class="q-gutter-y-md">
          <q-tabs v-model="tab" active-color="primary">
            <q-tab
              name="create"
              label="Create"
              @update="val => tab = val.name"
            ></q-tab>
            <q-tab
              name="renew"
              label="Renew"
              @update="val => tab = val.name"
            ></q-tab>
          </q-tabs>
        </div>
      </div>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="create">
          <q-card-section class="q-pa-none">
            <h3 class="q-my-none">{{ domain_domain }}</h3>
            <br />
            <h6 class="q-my-none">
              Your Lightning Address: {% raw
              %}{{this.formDialog.data.username}}{% endraw %}@{{domain_domain}}
            </h6>
            <br />
            <q-form @submit="submitInvoice()" class="q-gutter-md">
              <q-input
                filled
                dense
                v-model.trim="formDialog.data.email"
                type="email"
                label="Your email (optional, if you want a reply)"
              ></q-input>
              <q-input
                filled
                dense
                v-model.trim="formDialog.data.username"
                type="text"
                label="Alias/username"
                :rules="[
                val => checkUsername || 'Sorry, alias already taken',
                val => isValidUsername || 'Alias is not valid'
                ]"
                lazy-rules
              >
              </q-input>
              <q-input
                filled
                dense
                v-model.trim="formDialog.data.wallet_endpoint"
                type="text"
                label="Endpoint of LNbits instance, defaults to this instance"
              >
              </q-input>
              <q-input
                filled
                dense
                v-model.trim="formDialog.data.wallet_key"
                type="text"
                label="Admin key for your wallet"
              >
              </q-input>
              <q-input
                filled
                dense
                v-model.trim="formDialog.data.duration"
                type="number"
                label="Number of days"
              >
              </q-input>
              <p>
                Cost per day: {{ domain_cost }} sats<br />
                {% raw %} Total cost: {{amountSats}} sats {% endraw %}
              </p>
              <div class="row q-mt-lg">
                <q-btn
                  unelevated
                  color="primary"
                  :disable="!formDialog.data.username || !formDialog.data.wallet_key || !formDialog.data.duration || !checkUsername"
                  type="submit"
                  >Submit</q-btn
                >
                <q-btn @click="resetForm" flat color="grey" class="q-ml-auto"
                  >Cancel</q-btn
                >
              </div>
            </q-form>
          </q-card-section>
        </q-tab-panel>
        <q-tab-panel name="renew">
          <q-card-section class="q-pa-none">
            <h3 class="q-my-none">{{ domain_domain }}</h3>
            <br />
            <h6 class="q-my-none">
              Renew your Lightning Address: {% raw
              %}{{this.formDialog.data.username}}{% endraw %}@{{domain_domain}}
            </h6>
            <br />
            <q-form @submit="renewAddress()" class="q-gutter-md">
              <q-input
                filled
                dense
                v-model.trim="renewDialog.data.username"
                type="text"
                label="Alias/username"
                :rules="[
                val => isValidUsername || 'Alias is not valid'
                ]"
              >
              </q-input>
              <q-input
                filled
                dense
                v-model.trim="renewDialog.data.wallet_key"
                type="text"
                label="Admin key for your wallet"
              >
              </q-input>
              <div>
                <div v-if="renewDialog.info">
                  {% raw %}
                  <p>
                    <strong>LN Address:</strong>
                    <span
                      >{{renewDialog.data.username}}@{{renewDialog.data.domain}}</span
                    >
                    <br />
                    <span>Expires at: {{renewDialog.data.expiration}}</span>
                  </p>
                  {% endraw %}
                </div>
                <q-btn
                  unelevated
                  color="primary"
                  v-if="!renewDialog.info"
                  :disable="!renewDialog.data.username || !renewDialog.data.wallet_key"
                  @click="getUserInfo()"
                  >Get Info</q-btn
                >
              </div>
              <q-input
                v-if="renewDialog.info"
                filled
                dense
                v-model.trim="renewDialog.data.duration"
                type="number"
                label="Number of days"
              >
              </q-input>
              <p>
                Cost per day: {{ domain_cost }} sats<br />
                {% raw %} Total cost: {{amountSats}} sats {% endraw %}
              </p>
              <div class="row q-mt-lg">
                <q-btn
                  unelevated
                  color="primary"
                  :disable="!renewDialog.data.username || !renewDialog.data.wallet_key || !renewDialog.data.duration || !isValidUsername"
                  type="submit"
                  >Submit</q-btn
                >
                <q-btn @click="resetForm" flat color="grey" class="q-ml-auto"
                  >Cancel</q-btn
                >
              </div>
            </q-form>
          </q-card-section>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>

  <q-dialog v-model="receive.show" position="top" @hide="closeReceiveDialog">
    <q-card
      v-if="!receive.paymentReq"
      class="q-pa-lg q-pt-xl lnbits__dialog-card"
    >
    </q-card>
    <q-card v-else class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <div class="text-center q-mb-lg">
        <a class="text-secondary" :href="'lightning:' + receive.paymentReq">
          <q-responsive :ratio="1" class="q-mx-xl">
            <qrcode
              :value="'lightning:' + paymentReq.toUpperCase()"
              :options="{width: 340}"
              class="rounded-borders"
            ></qrcode>
          </q-responsive>
        </a>
      </div>
      <div class="row q-mt-lg">
        <q-btn outline color="grey" @click="copyText(receive.paymentReq)"
          >Copy invoice</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>
</div>

{% endblock %} {% block scripts %}
<script>
  const root_url = '{{root_url}}'
  const domain_id = '{{domain_id}}'
  const domain_domain = '{{domain_domain}}'
  const domain_cost = '{{domain_cost}}'
  const domain_wallet_inkey = '{{domain_wallet_inkey}}'
</script>
<script src="{{ static_url_for('lnaddress/static', path='js/display.js') }}"></script>
{% endblock %}
